In [9]:
print("Hello CHAW D VASANTA !")

Hello CHAW D VASANTA !

In [ ]:
x = input("Enter a any number :")
print("Your Number Is :", x)

Enter a any number : 12

Your Number Is : 12

In [ ]:
one = 1
two = 2
three = 3
total = one + two + three
print(total)

6

In [ ]:
# varibales

In [ ]:
integer = 110
floating = 12.3
double = 34.44
char = "Vasanta"
name = """I am Vasanta d chaw"""
print(integer, floating, char, name)

110 12.3 Vasanta I am Vasanta d chaw

In [ ]:
a = b = c = d = 12

In [47]:
a

12

In [49]:
b

12

In [51]:
c

12

In [ ]:
a, b, c = 1, 2, 3
a

1

In [55]:
b

2

In [57]:
c

3

In [ ]:
name = "CHAWDVASANT"
name

'CHAWDVASANT'

In [ ]:
name = "CHAWDVASANT"
name

'CHAWDVASANT'

In [63]:
name[2:]

'AWDVASANT'

In [65]:
name[:2]

'CH'

In [ ]:
first = "VASANTA"
middle = "D"
last = "CHAW"
print("Your Name Is : ", first + middle + last)

Your Name Is :  VASANTADCHAW

In [ ]:
# list

In [ ]:
list = ["abcd", 123, 2.34, "chaw", 20.3]
nlist = [321, "D"]
print(list)

['abcd', 123, 2.34, 'chaw', 20.3]

In [75]:
print(nlist)

[321, 'D']

In [77]:
print(list[0])

abcd

In [79]:
print(list[:2])

['abcd', 123]

In [81]:
print(list[2:])

[2.34, 'chaw', 20.3]

In [83]:
print(nlist)

[321, 'D']

In [ ]:
print(nlist * 2)

[321, 'D', 321, 'D']

print(list+nlist)

In [ ]:
print(list + nlist)

['abcd', 123, 2.34, 'chaw', 20.3, 321, 'D']

In [ ]:
# tuples

In [ ]:
tuples = ("abcd", 123, 848.4, 1)

In [95]:
print(tuples)

('abcd', 123, 848.4, 1)

In [97]:
type(tuples)

tuple

In [99]:
print(tuples[2:3])

(848.4,)

In [ ]:
dictionary = {}
print(dictionary)

{}

In [104]:
type(dictionary)

dict

In [ ]:
dictionary[0] = "CHAW D VASANTA"
dictionary[1] = "I am beginner !"
print(dictionary[1])

I am beginner !

In [108]:
print(dictionary.keys())

dict_keys([0, 1])

In [110]:
print(dictionary.values())

dict_values(['CHAW D VASANTA', 'I am beginner !'])

In [112]:
2**2

4

In [114]:
2**3

8

In [ ]:
9 % 2

1

In [ ]:
8 // 2

4

In [ ]:
8 / 2

4.0

In [ ]:
21 // 2

10

In [ ]:
21.9 / 2

10.95

In [ ]:
21.9 // 2

10.0

In [ ]:
a, b = 12, 13
if a == b:
    print("True")
else:
    print("False")

False

In [ ]:
if a != b:
    print("True")
else:
    print("Flase")

True

In [ ]:
if a > b:
    print("True")
else:
    print("Flase")

Flase

In [ ]:
if a < b:
    print("True")
else:
    print("Flase")

True

In [ ]:
if a >= b:
    print("True")
else:
    print("Flase")

Flase

In [ ]:
if a <= b:
    print("True")
else:
    print("Flase")

True

In [ ]:
a, b, c = 44, 33, 0

In [ ]:
print(a + b)

77

In [ ]:
c += a
c

220

In [ ]:
c *= a
c

9680

In [ ]:
cc = 0
cc *= a

In [172]:
cc

0

In [ ]:
ccc = 2
ccc *= 2

In [176]:
ccc

4

In [ ]:
c /= a
c

220.0

In [ ]:
a /= a
a

1.0

In [ ]:
c /= a
c

220.0

In [ ]:
c **= 2
c

48400.0

In [ ]:
c //= a
c

48400.0

In [ ]:
a = 60
b = 13
a & b

12

In [ ]:
a | b

61

In [ ]:
a ^ b

49

In [204]:
~a

-61

In [206]:
bin(12)

'0b1100'

In [208]:
bin(60)

'0b111100'

In [ ]:
a = 10
b = 14
lis = [12, 3, 2, 3, 2, 10]
if a in lis:
    print("True")
else:
    print("False")

True

In [ ]:
if b in lis:
    print("True")
else:
    print("Flase")

Flase

In [ ]:
c = (a + b) / 2
if c in lis:
    print("True")
else:
    print("Flase")

True

In [ ]:
a, b = 20, 20
id(a)

140732009491480

In [220]:
id(b)

140732009491480

In [ ]:
if a is b:
    print("True")
else:
    print("False")

True

In [ ]:
if a is not b:
    print("True")
else:
    print("False")

False

In [ ]:
if id(a) == id(b):
    print("True")
else:
    print("False")

True

In [ ]:
# In the above example discount is calculated on the inputs amount of discount is 5% if the amount is  less than 1000 and 10% when the above 1000

In [ ]:
amount = int(input("Enter amounnt : "))
if amount < 1000:
    discount = amount * 0.05
    print(discount)
else:
    discount = amount * 0.10
    print(discount)
print("Not payable")

Enter amounnt :  1200

120.0
Not payable

In [2]:
# wap to find a largest number among them three numbers
a = int(input("Enter Your First number : "))
b = int(input("Enter Your Second Number :"))
c = int(input("Enter Your Third Number : "))
if a > b:
    if a > c:
        print(f"Your Largest Number Is : {a}")
    else:
        print(f"Your Largest Number Is : {c}")
elif b > a:
    if b > c:
        print(f"Your Largest Number Is : {b}")
    else:
        print(f"Your Largest Number Is : {c}")

Your Largest Number Is : 88

In [ ]:
count = 0
while count < 9:
    print("The count is :", count)
    count += 1
print("Good Bye")

The count is : 0
The count is : 1
The count is : 2
The count is : 3
The count is : 4
The count is : 5
The count is : 6
The count is : 7
The count is : 8
Good Bye

In [ ]:
var = 1
while var == 1:
    num = int(input("Enter aa Number : "))
    print("Your Entered Numbber Is : ", num)
print("good Bye !")

Your Entered Numbber Is :  5

ValueError: invalid literal for int() with base 10: ''

In [ ]:
count = 0
while count < 5:
    print(count, " is lesss than 5")
    count += 1
else:
    print(count, " Is not less an 5")

0  is lesss than 5
1  is lesss than 5
2  is lesss than 5
3  is lesss than 5
4  is lesss than 5
5  Is not less an 5

In [6]:
range(5)

range(0, 5)

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
for var in list(range(5)):
    print(var)

0
1
2
3
4

In [ ]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [ ]:
fruits = ["banana", "python", "mango", "apple"]
for i in fruits:
    print(i)

banana
python
mango
apple

In [ ]:
fruits = ["banana", "python", "mango", "apple"]
for i in range(len(fruits)):
    print("current fruits : ", fruits[i])

current fruits :  banana
current fruits :  python
current fruits :  mango
current fruits :  apple

In [ ]:
nums = [12, 2, 3, 2, 3, 4543, 44, 33, 22, 44, 55, 45, 3, 45, 3, 4]
for n in nums:
    if i % 2 == 0:
        print("This lisst contains an evnnumber ")
        break
else:
    print("The list doesnot  contain an even number")

The list doesnot  contain an even number

In [2]:
for i in range(1, 11):
    for j in range(1, 11):
        k = i * j
        print(k, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for letter in "Python":
    if letter == "h":
        break
    print("current letter is :", letter)
var = 10
while var > 0:
    print("current letter vaalue : ", var)
    var -= 1
    if var == 5:
        break
print("good bye")

current letter is : P
current letter is : y
current letter is : t
current letter vaalue :  10
current letter vaalue :  9
current letter vaalue :  8
current letter vaalue :  7
current letter vaalue :  6
good bye

In [ ]:
num = int(input("Enter aany nnumber : "))
nums = [11, 22, 33, 444, 55, 66, 77, 88, 99, 1100]
for nu in nums:
    if nu == num:
        print("Your Number found in list")
        break
else:
    print("Your number not  found in list  !")

Your number not  found in list  !

In [7]:
for letter in "Python":
    if letter == "h":
        continue
    print("current letter is :", letter)
var = 10
while var > 0:
    print("current letter vaalue : ", var)
    var -= 1
    if var == 5:
        continue
print("good bye")

current letter is : P
current letter is : y
current letter is : t
current letter is : o
current letter is : n
current letter vaalue :  10
current letter vaalue :  9
current letter vaalue :  8
current letter vaalue :  7
current letter vaalue :  6
current letter vaalue :  5
current letter vaalue :  4
current letter vaalue :  3
current letter vaalue :  2
current letter vaalue :  1
good bye

In [ ]:
for letter in "PYTHONN":
    if letter == "H":
        pass
        print("This is pass block")
    print("current letter :", letter)

current letter : P
current letter : Y
current letter : T
This is pass block
current letter : H
current letter : O
current letter : N
current letter : N

In [ ]:
list = [1, 2, 3, 4, 5]
it = iter(list)
print(next(it))
for x in it:
    print(x, end=" ")

1
2 3 4 5

In [ ]:
import sys

while True:
    try:
        print(next(it))
    except StopIteration:
        sys.exit()

SystemExit:

c:\Users\CHAW  D VASANT\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [1]:
print(abs(-11))

11

In [ ]:
import math

print(math.ceil(-3.3))


print(math.ceil(-3.3000))


print(math.ceil(-3.135))


print(math.ceil(3.8))


print(math.ceil(3.2))

-3
-3
-3
4
4

In [5]:
print(math.exp(1))

2.718281828459045

In [11]:
print(math.fabs(-44.45))
print(math.fabs(-44.4500))
print(math.fabs(44.4532430000))

44.45
44.45
44.453243

In [12]:
print(math.floor(5.4))

5

In [ ]:
import math

print(math.log(3))


print(math.log(100))


print(math.log10(3))


print(math.log2(1))

1.0986122886681098
4.605170185988092
0.47712125471966244
0.0

In [ ]:
lis = [11, 32, 43, 55, 33, 999, 88, 77]
print(max(lis))
print(min(lis))

999
11

In [10]:
print(math.modf(11))
print(math.modf(199))

(0.0, 11.0)
(0.0, 199.0)

In [ ]:
print(math.pow(2, 3))

8.0

In [12]:
round(2.3)

2

In [14]:
round(4.5)

4

In [15]:
round(5.6)

6

In [16]:
math.sqrt(121)

11.0

In [ ]:
import random

lis = [1, 2, 3, 4, 5, 6]
print(random.choice(lis))

5

In [ ]:
import random

lis = [1, 2, 3, 4, 5, 6]
print(random.choices(lis))

[3]

In [ ]:
print(random.randrange(1, 10, 2))

7

In [24]:
print(random.random())

0.8768266529899342

In [ ]:
random.seed()
print("random number with default seed", random.random())
random.seed(10)
print("random number with int seed", random.random())
random.seed("hello", 2)
print("random number with string seed", random.random())

random number with default seed 0.1286970710491533
random number with int seed 0.5714025946899135
random number with string seed 0.3537754404730722

In [ ]:
lis = [1, 2, 3, 4, 5, 6]
random.shuffle(lis)
print(lis)

[2, 6, 3, 1, 4, 5]

In [ ]:
print("Random Float uniform(5, 10) : ", random.uniform(5, 10))

Random Float uniform(5, 10) :  7.118117212049173

In [ ]:
para_str = """this is a long string that is made up of 
several lines and non-printable characters such as 
TAB ( \t ) and they will show up that way when displayed. 
NEWLINEs within the string, whether explicitly given like 
this within the brackets [ \n ], or just a NEWLINE within 
the variable assignment will also show up. 
"""
print(para_str)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

In [43]:
para_str.capitalize()

'This is a long string that is made up of \nseveral lines and non-printable characters such as \ntab ( \t ) and they will show up that way when displayed. \nnewlines within the string, whether explicitly given like \nthis within the brackets [ \n ], or just a newline within \nthe variable assignment will also show up. \n'

In [ ]:
para_str.count("a")

19

In [ ]:
para_str.count(("a"), 10, 40)

2

In [ ]:
Str = "this is string example....wow!!!"
suffix = "!!"
print(Str.endswith(suffix))
print(Str.endswith(suffix, 20))
suffix = "exam"
print(Str.endswith(suffix))
print(Str.endswith(suffix, 0, 19))

True
True
False
True

In [ ]:
para_str.find("this")

0

In [ ]:
para_str.find("up")

35

In [ ]:
para_str.index("up")

35

In [60]:
para_str.isalnum()

False

In [ ]:
strs = "hello woeld 2u2 100"
strs.isalnum()

False

In [ ]:
n = "21"
n.isalnum()

True

In [ ]:
sstr = "this100"
sstr.isalnum()

True

In [ ]:
str = "vasantaachaw"
str.isalpha()

True

In [ ]:
str = "vasant aachaw"
str.isalpha()

False

In [ ]:
isd = "98989"
isd.isdigit()

True

In [ ]:
isd = "98989t"
isd.isdigit()

False

In [ ]:
isd = "98989 t"
isd.isdigit()

False

In [ ]:
st = "VASANTA CHAW"
st.islower()

False

In [74]:
st.isupper()

True

In [75]:
st.lower()

'vasanta chaw'

In [76]:
st.upper()

'VASANTA CHAW'

In [ ]:
str = "this2016"
print(str.isnumeric())
str = "23443434"
print(str.isnumeric())

False
True

In [ ]:
str = "      "
print(str.isspace())
str = "This is string example....wow!!!"
print(str.isspace())

True
False

In [ ]:
str = "This Is String Example...Wow!!!"
print(str.istitle())
str = "This is string example....wow!!!"
print(str.istitle())

True
False

In [ ]:
b = "+"
a = ["1", "33", "55", "6"]
b.join(a)

'1+33+55+6'

In [83]:
len(a)

4

In [ ]:
str = " this is string example....wow!!!"
print(str.lstrip())
str = "*****this is string example....wow!!!*****"
print(str.lstrip("*"))

this is string example....wow!!!
this is string example....wow!!!*****

In [ ]:
a = "VVASANTAAv"
b = "vasanta"
max(a)

'v'

In [89]:
max(b)

'v'

In [ ]:
str = "www.tutorialspoint.com"
print("Min character: " + min(str))
str = "TUTORIALSPOINT"
print("Min character: " + min(str))

Min character: .
Min character: A

In [ ]:
str = "this is string example....wow!!! this is really string"
print(str.replace("is", "was"))
print(str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [ ]:
str = "this is string example....wow!!!"
print(str.split())
print(str.split("i", 1))
print(str.split("w"))

['this', 'is', 'string', 'example....wow!!!']
['th', 's is string example....wow!!!']
['this is string example....', 'o', '!!!']

In [ ]:
# lisst

In [ ]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1, 2, 3, 4, 5]
list3 = ["a", "b", "c", "d"]
list1[0]

'physics'

In [2]:
list1[1:3]

['chemistry', 1997]

In [ ]:
list1[2] = 1212

In [4]:
list1

['physics', 'chemistry', 1212, 2000]

In [5]:
del list1[2]

In [6]:
list1

['physics', 'chemistry', 2000]

In [8]:
len(list1)

3

In [ ]:
lis = list(range(len(list1)))

In [11]:
lis

[0, 1, 2]

In [13]:
max(list3)

'd'

In [ ]:
atuple = (123, "wer", "java", "python")
lista = list(atuple)
print(lista)

[123, 'wer', 'java', 'python']

In [ ]:
str = "vasanta chaw"
str = list(str)
str

['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w']

In [16]:
list1.append(str)
list1

['physics',
 'chemistry',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w']]

In [ ]:
l = "chaw0"
list1.append(l)
list1

['physics',
 'chemistry',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 'chaw0',
 'chaw0']

In [ ]:
list1.count("chaw0")

2

In [ ]:
num = list(range(6))
list1.extend(num)

In [23]:
list1

['physics',
 'chemistry',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 'chaw0',
 'chaw0',
 0,
 1,
 2,
 3,
 4,
 5]

In [25]:
print(list1.index(1))

7

In [ ]:
list1.insert(2, "chawbasanta")
list1

['physics',
 'chemistry',
 'chawbasanta',
 'chawbasanta',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 'chaw0',
 'chaw0',
 0,
 1,
 2,
 3,
 4,
 5]

In [28]:
list1.pop()

5

In [29]:
list1

['physics',
 'chemistry',
 'chawbasanta',
 'chawbasanta',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 'chaw0',
 'chaw0',
 0,
 1,
 2,
 3,
 4]

In [ ]:
list1.remove("chawbasanta")
list1

['physics',
 'chemistry',
 2000,
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 'chaw0',
 'chaw0',
 0,
 1,
 2,
 3,
 4]

In [32]:
list1.reverse()

In [33]:
list1

[4,
 3,
 2,
 1,
 0,
 'chaw0',
 'chaw0',
 ['v', 'a', 's', 'a', 'n', 't', 'a', ' ', 'c', 'h', 'a', 'w'],
 2000,
 'chemistry',
 'physics']

In [37]:
list2.sort()
list2

[1, 2, 3, 4, 5]

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
tup1 = (12, 34.56)
tup2 = ("abc", "xyz")

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [ ]:
tup = ("physics", "chemistry", 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [ ]:
tuple1, tuple2 = (123, "xyz", "zara"), (456, "abc")
print("First tuple length : ", len(tuple1))
print("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [ ]:
tuple1, tuple2 = ("maths", "che", "phy", "bio"), (456, 700, 200)
print("Max value element : ", max(tuple1))
print("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

In [ ]:
tuple1, tuple2 = ("maths", "che", "phy", "bio"), (456, 700, 200)
print("min value element : ", min(tuple1))
print("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

In [ ]:
list1 = ["maths", "che", "phy", "bio"]
tuple1 = tuple(list1)
print("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')

In [ ]:
# dictionary

In [ ]:
dict = {"Name": "zara", "Age": 224, "class": "first"}
dict["Name"]

'zara'

In [ ]:
dict["Age"]

224

In [ ]:
dict["class"] = "BTS"
dict["class"]

'BTS'

In [ ]:
d = dict.copy()
d

{'Name': 'zara', 'Age': 224, 'class': 'BTS'}

In [55]:
d.clear()

In [56]:
d

{}

In [57]:
del d

In [58]:
d

NameError: name 'd' is not defined

In [ ]:
seq = ("name", "age", "sex")
dict = dict.fromkeys(seq)
print("New Dictionary : %s", str(dict))
dict = dict.fromkeys(seq, 10)
print("New Dictionary : %s", str(dict))

TypeError: 'list' object is not callable

In [ ]:
dict = {"Name": "Zara", "Age": 27}
print("Value : %s" % dict.get("Age"))
print("Value : %s" % dict.get("Sex", "NA"))

Value : 27
Value : NA

In [ ]:
dict = {"Name": "Zara", "Age": 7}
print("Value : %s" % dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [ ]:
dict = {"Name": "Zara", "Age": 7}
print("Value : %s" % dict.keys())

Value : dict_keys(['Name', 'Age'])

In [ ]:
dict = {"Name": "Zara", "Age": 7}
print("Value : %s" % dict.setdefault("Age", None))
print("Value : %s" % dict.setdefault("Sex", None))
print(dict)

Value : 7
Value : None
{'Name': 'Zara', 'Age': 7, 'Sex': None}

In [ ]:
dict = {"Name": "Zara", "Age": 7}
dict2 = {"Sex": "female"}
dict.update(dict2)
print("updated dict : ", dict)

updated dict :  {'Name': 'Zara', 'Age': 7, 'Sex': 'female'}

In [ ]:
# date and time

In [ ]:
import time

time.time()

1733309455.2375011

In [70]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=12, tm_mday=4, tm_hour=16, tm_min=36, tm_sec=22, tm_wday=2, tm_yday=339, tm_isdst=0)

In [ ]:
localtime = time.asctime(time.localtime(time.time()))
print("Local current time :", localtime)

Local current time : Wed Dec  4 16:36:53 2024

In [ ]:
import calendar

cal = calendar.month(2016, 2)


print("Here is the calendar:")


print(cal)

Here is the calendar:
   February 2016
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29

In [ ]:
print("time.altzone : ", time.altzone)

time.altzone :  -24300

In [ ]:
t = time.localtime()
print("asctime : ", time.asctime(t))

asctime :  Wed Dec  4 16:38:50 2024

In [ ]:
import time


def procedure():
    time.sleep(2.5)


# measure process time


procedure()


print(time.clock() - t0, "seconds process time")


# measure wall t
procedure()


t0 = time.time()
procedure()


print(time.time() - t0, "seconds wall time")

AttributeError: module 'time' has no attribute 'clock'

In [ ]:
print("ctime : ", time.ctime())

ctime :  Wed Dec  4 16:39:58 2024

In [ ]:
# function

In [ ]:
def message():
    print("Hello World !")


message()

Hello World !

In [ ]:
def show(dt):
    print(dt)


show("Hi Vasanta chaw")

Hi Vasanta chaw

In [ ]:
def changeme(mylist):
    "This changes a passed list into this function"
    mylist = [1, 2, 3, 4]  # This would assi new reference in mylist
    print("Values inside the function: ", mylist)
    return


# Now you can call changeme function
mylist = [10, 20, 30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [ ]:
def num(k=1, *kk):
    print(k)
    print(kk)


num(1)
num(1, 2, 3, 45)

1
()
1
(2, 3, 45)

In [ ]:
sus = lambda a, b: a + b
sus(1, 2)

3

In [ ]:
sus = lambda a, b: a > b
sus(1, 2)

False

In [ ]:
Money = 2000


def AddMoney(self):
    # Uncomment the following line to fix the code:
    # global Money
    self.Money = self.Money + 1


print(Money)


AddMoney()


print(Money)

2000

TypeError: AddMoney() missing 1 required positional argument: 'self'

In [ ]:
import math

content = dir(math)


print(content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
# ops

In [ ]:
class Car:
    brand = None
    model = None


my_car = Car()
print(my_car)

<__main__.Car object at 0x0000018D03324EC0>

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model


my_car = Car("Honda", "civic")
print(my_car.brand)
print(my_car.model)
my_new_car = Car("Tata", "Safari")
print(my_new_car.brand)
print(my_new_car.model)

Honda
civic
Tata
Safari

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def full_name(self):
        return f"{self.brand} {self.model}"


class ElectricCar(Car):
    def ___init___(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size


my = ElectricCar("Tesla", "Model s", "85kwh")
print(my.brand)

# my_car = Car("Honda", "civic")
# print(my_car.full_name())
# my_new_car = Car("Tata", "Safari")
# print(my_new_car.full_name())

TypeError: Car.__init__() takes 3 positional arguments but 4 were given

In [14]:
# Inheritance

In [ ]:
class Parent:
    def __init__(self, name):
        self.name = name


class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)  # Call Parent's constructor
        self.age = age


c = Child("John", 25)
print(c.name, c.age)  # Output: John 25

John 25

In [ ]:
class PaarentClass:
    pass


class ChildClass(PaarentClass):
    pass

In [ ]:
class Animal:
    def sound(self):
        print(("aAnimal makes a sound"))


class Dog(Animal):

    def sound(self):
        print("dog barks !")


d = Dog()
d.sound()

dog barks !

In [ ]:
class A:
    def method_a(self):
        print("Method from class A")


class B:

    def method_b(self):
        print("method from claass B")


class C(A, B):
    pass


obj = C()
obj.method_a()
obj.method_b()

Method from class A
method from claass B

In [ ]:
class A:
    def method_a(self):
        print("Method from class A")


class B(A):

    def method_b(self):
        print("method from claass B")


class C(B):
    pass


obj = C()
obj.method_a()
obj.method_b()

Method from class A
method from claass B

In [ ]:
class Parent:
    def __init__(self, name):
        self.name = name


class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age


c = Child("John", 21)
print(c.name, c.age)

John 21

In [ ]:
class Parent:
    def greet(self):
        print("Hello from Parent !")

    def me(self):
        print("Hello world !")


class Child(Parent):
    def greet(self):
        super().greet()
        super().me()
        print("Hello From child !")


cc = Child()
cc.greet()

Hello from Parent !
Hello world !
Hello From child !

In [36]:
class A:
    def method(self):
        print("Method from A")


class B(A):
    def method(self):
        print("Method from B")
        super().method()


class C(B):
    def method(self):
        print("Method from C")
        super().method()


class D(C):
    def method(self):
        print("Method from D")
        super().method()


d = D()
d.method()
# Output:
# Method from D
# Method from B
# Method from C
# Method from A

Method from D
Method from C
Method from B
Method from A

In [ ]:
class A:
    def method(self):
        print("Method from A")


class B(A):
    def method(self):
        print("Method from B")
        super().method()


class C(A):
    def method(self):
        print("Method from C")
        super().method()


class D(B, C):
    def method(self):
        print("Method from D")
        super().method()


d = D()
d.method()
# Output:
# Method from D
# Method from B
# Method from C
# Method from A

Method from D
Method from B
Method from C
Method from A

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def full_name(self):
        return f"{self.brand} {self.model}"


_car = Car("Hondaa", "Civic")
print(_car.brand)
print(_car.model)
print("full NAme : ", _car.full_name())

Hondaa
Civic
full NAme :  Hondaa Civic

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def full_name(self):
        return f"{self.brand} {self.model}"


class Electric_car(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size


_car = Electric_car("Tesla", "Model s", "85kwh")
print(_car.battery_size)
print(_car.brand)
print(_car.model)
print(_car.full_name())

85kwh
Tesla
Model s
Tesla Model s

In [ ]:
class Employee:
    def __init__(self, name):
        self.name = name

    def display(self):
        print(f"employee Name : {self.name}")


e = Employee("HAW D VASANT")
print(e.name)
e.display()

HAW D VASANT
employee Name : HAW D VASANT

In [ ]:
# Encapsulation

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self._name = name
        self._salary = salary

    def get_display(self):
        print(f"Name : {self._name} Salary : {self._salary}")


class New_employee(Employee):
    def __init__(self, name, salary, id):
        super().__init__(name, salary)
        self.id = id


new_e = New_employee("vasant", 1232, 1)
new_e.get_display()
# print(new_e.name, new_e.salary, new_e.id)

Name : vasant Salary : 1232
vasant 1232 1

In [ ]:
new_e

In [ ]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

    def get_brand(self):
        return self.__brand + "!"

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def fuel_type(self):
        return "Petrol or Diesel"


class Electric_car(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric Ccharge"


_car = Electric_car("Tesla", "Model s", "85kwh")
print(_car.model)
print(_car.get_brand())
print(_car.fuel_type())
safari = Car("Honda", "civic")
print(safari.fuel_type())
print(f"Total Of Car Created : {Car.total_car}")

Model s
Tesla!
Electric Ccharge
Petrol or Diesel
Total Of Car Created : 2

In [ ]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

    def get_brand(self):
        return self.__brand + "!"

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def fuel_type(self):
        return "Petrol or Diesel"


class Electric_car(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric Ccharge"


Electric_car("Tesla", "Model s", "85kwh")
Car("Honda", "civic")
Electric_car("BMW", "W1s", "851kwh")
Car("TATA", "NEXON")
print(f"Total Of Car Created : {Car.total_car}")

Total Of Car Created : 4

In [ ]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

    def get_brand(self):
        return self.__brand + "!"

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def fuel_type(self):
        return "Petrol or Diesel"


class Electric_car(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric Ccharge"


Electric_car("Tesla", "Model s", "85kwh")
Car("Honda", "civic")
Electric_car("BMW", "W1s", "851kwh")
Car("TATA", "NEXON")
print(f"Total Of Car Created : {Car.total_car}")

Total Of Car Created : 4

In [ ]:
import time

time.sleep(10)
print

Hello world !

In [ ]:
# How to build ATM machine code using pythonn

In [ ]:
from tqdm import tqdm
import time


class SBI_ATM:
    balance = 0
    pin = 0

    def __init__(self):
        print(" WE L C O M E   T O    S B I    A T M \n")
        print(" Please Insert Your Card .")
        for i in tqdm(range(101), desc=" Loading…", ascii=False, ncols=75):
            time.sleep(0.05)
        print("\n 1. Set Your Pin Code .")
        print(" 2. Deposite Your Amount .")
        print(" 3. Withdraw Your Amount .")
        print(" 4. Inqury Your blance .")
        print(" 5. Cancel .\n")
       
    def enter_pin(self):
        self.pin_code = int(input(" Enter Your Pin Code : "))

    def enter_amount(self):
        self.amount = int(input(" Enter Your amount : "))

    def set_your_pin(self):
        self.pin =int(input(' Set Your New Pin Code :'))
        
        print(" Successfully Set your Pin !")

    def deposite_amount(self):
        try:
            self.enter_pin()
            if self.pin_code == self.pin:
                self.enter_amount()
                self.balance += self.amount
                print(" Successfully Deposited !")
            else:
                print(' Invalid Pin Code !')
        except ValueError as e:
            print(e)

    def inqury_balannc(self):
        print(f" Your Total Amount : {self.balance}")

    def withdraw_amount(self):
        try:
            self.enter_pin()
            if self.pin == self.pin_code:
                self.enter_amount()
                if self.balance > self.amount and self.balance > 100:
                    self.balance -= self.amount
                    print(f" Successfully Withdraw : {self.amount}")
                else:
                    print(" Insufficiant balance !")
            else:
                print(' Invalid Pin Code !')
        except ValueError as e:
            print(e)


if __name__ == "__main__":
    sbi = SBI_ATM()
    while True:
        chose=int(input())
        match chose:
            case 1:
                sbi.set_your_pin()

            case 2:
                sbi.deposite_amount()

            case 3:
                sbi.withdraw_amount()

            case 4:
                sbi.inqury_balannc()            
            case 5:
                break

 WE L C O M E   T O    S B I    A T M

 Please Insert Your Card .

 Loading…: 100%|█████████████████████████| 101/101 [00:05<00:00, 19.22it/s]

 1. Set Your Pin Code .
 2. Deposite Your Amount .
 3. Withdraw Your Amount .
 4. Inqury Your blance .
 5. Cancel .

 1
 Set Your New Pin Code : 3324

 Successfully Set your Pin !

 2
 Enter Your Pin Code :  3324
 Enter Your amount :  1000

 Successfully Deposited !

 4

 Your Total Amount : 1000

 3
 Enter Your Pin Code :  3324
 Enter Your amount :  900

 Successfully Withdraw : 900

 4

 Your Total Amount : 100

 5

In [3]:
s=input()
s=input()
if  s==s:
    print('s')
else:
    print('n')

s

In [ ]:
#oop